$dark: #131b33;
$dark-light: #232b43;
$night-sky: #7c83e3;
$white: #fff;
$secondary: #2b3353;
$light: #fbdb83;

$windows-width: 500px;
$table-height: 200px;
$table-width: $windows-width + 100px;

:root {
  --dark: #{$dark};
}

.desk-3d {
  position: relative;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: $dark;
  min-height: 100vh;

  .screens {
    .windows {
      position: absolute;
      bottom: $table-height + 100px;
      left: 50%;
      transform: translateX(-50%);

      width: $windows-width;
      height: 300px;

      border: 8px solid $dark-light;
      background: $night-sky;

      .glass {
        display: flex;
        height: 100%;
        width: 100%;

        .surface {
          flex: 1;
          width: 100%;
          height: 100%;

          &:first-child {
            border-right: 8px solid $dark-light;
          }

          // &:nth-child(2), &:nth-child(1) {
          //   background: rgba($color: $dark-light, $alpha: 0.5);
          // }

          &:last-child {
            position: relative;
            border-left: 8px solid $dark-light;
            overflow: hidden;

            &::before {
              $glassLight: rgba(
                $color: $white,
                $alpha: 0.2,
              );

              content: "";
              position: absolute;
              top: 100px;
              left: -50%;
              width: 200%;
              height: 5px;
              background: $glassLight;
              transform: rotate(-20deg);

              box-shadow: 0 -35px 0 25px $glassLight;
            }
          }
        }
      }
    }

    .table {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      .on-table {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .lamp {
          position: relative;
          display: flex;
          flex-direction: column;
          margin-left: 2rem;

          &::before {
            content: "";
            position: absolute;
            background: rgba($color: $light, $alpha: 0.4);
            width: 300px;
            height: 100%;
            z-index: 10;
            clip-path: polygon(20% 20%, 100% 100%, 20% 100%);

            animation: turnToggle 5s ease-out infinite forwards;

            @keyframes turnToggle {
              0% {
                opacity: 0.1;
              }

              20% {
                opacity: 0.2;
              }

              40% {
                opacity: 0.5;
              }

              80% {
                opacity: 1;
              }

              100% {
                opacity: 0;
                clip-path: polygon(20% 20%, 100% 140%, 40% 100%);
              }
            }
          }

          .light-bulb,
          .line {
            margin-left: 1rem;
          }

          .light-bulb {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $dark-light;
            transform: translate(-5px, 5px) rotate(35deg);
            z-index: 11;

            &::before {
              content: "";
              position: absolute;
              top: -10px;
              left: 100%;
              width: 40px;
              height: 50px;
              background: $dark-light;
              clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
              transform: translateX(-14px);
              z-index: 11;
            }

            &::after {
              content: "";
              position: absolute;
              top: 0px;
              right: -39px;
              width: 25px;
              background: linear-gradient(to left, $light 50%, transparent 50%);
              height: 25px;
              border-radius: 50%;
              box-shadow: 0 0 10px $light;
            }
          }

          .line {
            height: 120px;
            width: 8px;
            background: $dark-light;
          }

          .sole {
            width: 80px;
            height: 10px;
            border-radius: 0 25px 0 0;
            background: $dark-light;
          }
        }

        .laptop {
          display: flex;
          flex-direction: column;
          align-items: center;

          .screen {
            position: relative;
            width: 200px;
            height: 130px;
            border: 4px solid $secondary;
            border-bottom-width: 8px;
            background: $dark-light;

            &::after {
              content: "";
              position: absolute;
              top: 0.5rem;
              left: 0.5rem;
              border-radius: 50%;
              width: 5px;
              height: 5px;
              background: red;
              box-shadow: 0 0 0 0 transparent, 10px 0 0 0 yellow,
                20px 0 0 0 green;
            }
          }

          .sole {
            width: 240px;
            height: 10px;
            background: $dark-light;
            border-top: 3px solid $night-sky;
            border-radius: 0 0 15px 15px;
          }
        }

        .glass-of-water {
          margin-right: 4rem;
          position: relative;
          background: $dark-light;
          width: 50px;
          height: 50px;
          border-radius: 0 0 20px 20px;
          &::before {
            content: "";
            position: absolute;
            right: -10px;
            top: 10px;
            border: 3px solid $dark-light;
            width: 15px;
            height: 15px;
            border-radius: 50%;
          }

          &::after {
            content: "";
            width: 30px;
            height: 30px;
            z-index: 9;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 0px;
            height: 0px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 0 0 20px 10px $white;
            opacity: 0.2;

            animation: smoking 3s linear infinite;

            @keyframes smoking {
              0% {
                opacity: 0;
                transform: translate(-50%, 0);
              }

              25% {
                opacity: 0.4;
                transform: translate(-50%, -10px);
              }

              80% {
                opacity: 0.3;
                transform: translate(-50%, -30px);
              }

              90% {
                opacity: 0.2;
                transform: translate(-50%, -35px);
              }

              100% {
                opacity: 0;
                transform: translate(-50%, -30px);
              }
            }
          }
        }
      }

      .stand-table {
        width: $table-width + 40px;
        height: 20px;
        background: linear-gradient(to bottom, $secondary 50%, #151e38 50%);
        border-radius: 20px;
      }

      .bottom-table {
        width: $table-width;
        height: $table-height;
        background: #33345b;
        margin: auto;

        &::before {
          content: "";
          position: absolute;
          bottom: 120px;
          left: 50%;
          transform: translateX(-50%);
          width: 50px;
          height: 10px;
          border-radius: 10px;
          background: $dark;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 200px;
          border-radius: 25px 25px 0 0;
          height: 80px;
          background: $dark;
        }
      }
    }
  }
}
