@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-BlkIt.woff2') format('woff2'),
        url('FuturaNowHeadline-BlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-Black.woff2') format('woff2'),
        url('FuturaNowHeadline-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-BoldIt.woff2') format('woff2'),
        url('FuturaNowHeadline-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline.woff2') format('woff2'),
        url('FuturaNowHeadline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-Bold.woff2') format('woff2'),
        url('FuturaNowHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-XBold.woff2') format('woff2'),
        url('FuturaNowHeadline-XBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline ExtraBlack';
    src: url('FuturaNowHeadline-XBlkIt.woff2') format('woff2'),
        url('FuturaNowHeadline-XBlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline ExtraBlack';
    src: url('FuturaNowHeadline-XBlack.woff2') format('woff2'),
        url('FuturaNowHeadline-XBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-ExtraLight.woff2') format('woff2'),
        url('FuturaNowHeadline-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-XBdIt.woff2') format('woff2'),
        url('FuturaNowHeadline-XBdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-Italic.woff2') format('woff2'),
        url('FuturaNowHeadline-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-ExtraLightIt.woff2') format('woff2'),
        url('FuturaNowHeadline-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-MdIt.woff2') format('woff2'),
        url('FuturaNowHeadline-MdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-Light.woff2') format('woff2'),
        url('FuturaNowHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-LtIt.woff2') format('woff2'),
        url('FuturaNowHeadline-LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-Medium.woff2') format('woff2'),
        url('FuturaNowHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-Thin.woff2') format('woff2'),
        url('FuturaNowHeadline-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('FuturaNowHeadline-ThinIt.woff2') format('woff2'),
        url('FuturaNowHeadline-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

